.direction {
    padding: 24px 24px 0 24px;
}

.text {
    color: var(--clr-text);
    font-weight: var(--font-semibold);
    line-height: 1.57;
    font-size: var(--small-font-size);
}

.direction > div {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.direction__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: 72px;
    color: #919eab;
    border: solid 1px rgba(145, 158, 171, 0.12);
    border-radius: 10px;
    box-shadow: var(--shadow-secondary);
    font-size: 2.5rem;
}

.direction__button.active {
    color: var(--clr-primary);
}