:root {
    /*========== Colors ==========*/
    --clr-bg-primary: rgb(240, 244, 250);
    --clr-bg-secondary: rgb(248, 250, 255);
    --clr-primary: rgb(1, 98, 196);
    --clr-white: rgb(255, 255, 255);
    --clr-divider: rgb(218, 224, 231);
    --clr-divider-text: rgb(218, 224, 231);
    --clr-text: rgb(8, 7, 7);
    --clr-bg-hover: rgba(99, 115, 129, 0.08);
    --clr-icons: rgb(99, 115, 129);
    --clr-checkTheme: rgba(1, 98, 196, 0.5);
    --clr-badge: rgb(255, 255, 255);
    --clr-scroll: rgb(128, 135, 147);
    --clr-settings: rgba(248, 250, 255, 0.64);
    --clr-bg-active: rgba(1, 98, 196, 0.08);
    --clr-menu: rgba(255, 255, 255, 0.92);

    /*========== Shadows ==========*/
    --shadow-primary: 0px 0px 2px rgb(0 0 0 / 25%);
    --shadow-secondary: 0 20px 40px -4px rgb(145 158 171 / 16%);
    --active-shadow: inset 0 4px 8px 0 rgb(1 98 196 / 24%);
    --shadow-button: -12px 12px 32px -4px rgb(99 115 129 / 36%);

    /*==========Typography ==========*/
    --biggest-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;
    --tint-font-size: 0.65rem;

    /*========== Font weight ==========*/
    --font-medium: 600;
    --font-semibold: 700;
    /*============= Flex =============*/
    --direction: row;
}

/*========== Body theme ==========*/
[data-color='blue'] {
    --clr-primary: rgb(1, 98, 196);
    --clr-checkTheme: rgba(1, 98, 196, 0.5);
    --clr-bg-active: rgba(1, 98, 196, 0.08);
    --active-shadow: inset 0 4px 8px 0 rgba(1, 98, 196, 0.24);
}

[data-color='violet'] {
    --clr-primary: rgb(118, 53, 220);
    --clr-checkTheme: rgba(118, 53, 220, 0.5);
    --clr-bg-active: rgba(118, 53, 220, 0.08);
    --active-shadow: inset 0 4px 8px 0 rgba(118, 53, 220, 0.24);
}

[data-color='skyBlue'] {
    --clr-primary: rgb(28, 202, 255);
    --clr-checkTheme: rgba(28, 202, 255, 0.5);
    --clr-bg-active: rgba(28, 202, 255, 0.08);
    --active-shadow: inset 0 4px 8px 0 rgba(28, 202, 255, 0.24);
}

[data-color='green'] {
    --clr-primary: rgb(20, 255, 247);
    --clr-checkTheme: rgba(20, 255, 247, 0.5);
    --clr-bg-active: rgba(20, 255, 247, 0.08);
    --active-shadow: inset 0 4px 8px 0 rgba(20, 255, 247, 0.24);
}

[data-color='orange'] {
    --clr-primary: rgb(253, 169, 45);
    --clr-checkTheme: rgba(253, 169, 45, 0.5);
    --clr-bg-active: rgba(253, 169, 45, 0.08);
    --active-shadow: inset 0 4px 8px 0 rgba(253, 169, 45, 0.24);
}

[data-color='red'] {
    --clr-primary: rgb(255, 48, 48);
    --clr-checkTheme: rgba(255, 48, 48, 0.5);
    --clr-bg-active: rgba(255, 48, 48, 0.08);
    --active-shadow: inset 0 4px 8px 0 rgba(255, 48, 48, 0.24);
}

[data-theme='dark'] {
    --clr-bg-primary: rgb(33, 43, 54);
    --clr-bg-secondary: rgb(22, 28, 36);
    --clr-text: rgb(255, 255, 255);
    --clr-icons: rgb(255, 255, 255);
    --clr-divider: rgba(145, 158, 171, 0.24);
    --clr-divider-text: rgb(255, 255, 255);
    --clr-badge: rgb(33, 43, 54);
    --clr-settings: rgba(22, 28, 36, 0.64);
    --clr-menu: rgba(33, 43, 54, 0.92);
    --shadow-secondary: 0 20px 40px -4px rgb(0 0 0 / 16%);
    --shadow-button: 0 20px 40px -4px rgb(0 0 0 / 16%);
}

[data-direction='rtl'] {
    --direction: row-reverse;
}
